.MainPage{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #E7AB79;
    font-size: 48px;
    padding: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 1000px;
    width: 1000px;
}
.MyResume{
    font-weight: bold;
    padding: 10px;
    background-color: #B25068;
    margin: 15px;
    border-radius: 30px;
    color: #4C3A51;
    min-width: 400px;
}
#resume{
    background-color: #C88EA7;
    padding: 10px;
    border-radius: 20px;
    min-width: 400px;
    color: #643843;
    margin: 10px;
}
#experience{
    background-color: #C88EA7;
    padding: 10px;
    border-radius: 20px;
    min-width: 400px;
    color: black;
    margin: 10px;
}
#education{
    color: #643843;
    background-color: #E7CBCB;
    padding: 10px;
    border-radius: 20px;
    min-width: 400px;
    
}
#skills{
    background-color: #E7CBCB;
    padding: 10px;
    border-radius: 20px;
    min-width: 400px;
    color: #643843;
    margin: 10px;
}
#certificaties{
    background-color: #99627A;
    padding: 10px;
    border-radius: 20px;
    min-width: 400px;
    color: #643843;
    margin: 10px;
}
#useful{
    background-color: #E7CBCB;
    padding: 10px;
    border-radius: 20px;
    min-width: 400px;
    max-width: 400px;
    color: #643843;
    margin: 10px;
}