img{height: 350px; width: 350px;}
*{text-align: center;}
*{background-color: #EDDBC0;}
#MyResume{font-size: 60px; color: #B73E3E;background-color: #DBC8AC;}
h2{font-size: 40px; color: #DD5353; background-color: #DBC8AC;}
a{color: #DD5353;}